
<ion-content>
  <section class="work">
    <ion-row class="work-header">
        <h2 class="section-title">Latest Works</h2>
    </ion-row>
   
    <div routerLink="/work-kc">
        <img class="img-work-KC" src="../../../assets/images/KC screen.jpg">
       <div class="img-text-KC">

           <h6>Personal Project 2021</h6>
           <h3>Kingdom Club</h3>
           <p>See Case</p>
       </div>
    </div>
    <div routerLink="/work-ie">
        <img class="img-work-IE" src="../../../assets/images/IE screen.jpg">
        <div class="img-text-IE">

            <h6>Personal Project 2017</h6>
            <h3>Intl Excel Student Network</h3>
            <p>See Case</p>
        </div>
    </div>
    <div routerLink="/work-ae">
        <img class="img-work-AE" src="../../../assets/images/AE screen.jpg">
        <div class="img-text-AE">

            <h6>Personal Project 2014</h6>
            <h3>Afro Excel Student Blogging Platform</h3>
            <p  
            
            #caseBtn (mouseenter)="glowEffect=true" (mouseleave)="hoverEffect($event)"
            fill="clear" color="light" class="dropdown-btn" routerLink="/work" 
            routerDirection="root" routerLinkActive="active-item"
            >See Case</p>
        </div>
    </div>

</section>
  </ion-content>