@media(min-width: 768px){
    .mobile-header {
        display: none;
    }
    .header {
        display: flex;
        background: #fff;
        padding-right: 10%;
        padding-left: 10%;
        color: #2A2A2A;
    }
}

@media(max-width: 768px) {
    .mobile-header {
        display: block;
    }
    .header {
        display: none;
    }
}

.active-item {
    border-bottom: 3px solid var(--ion-color-medium);
}

.dropdown {
    width: 136px;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 40px;
    right: 160px;    
    z-index: 1;
    ion-item:hover {
        --ion-item-color: var(--ion-color-warning);
    }   
}

ion-item, .dropdown {    
    display: inline; 
}