<ion-content>
  <ion-grid>
    <span >
      <ion-row class="about-row">
        <ion-col class="left-content"  size="4" >
           <div>
            <h5>2021 July - Web Development Portfolio</h5>
            <span class="hb side-bubble"></span>
            <p>
              At the start of July, I put my passion project on hold and 
              whipped-up my wed development portfolio, a responsive web 
              application. What you are looking at, I designed and developed it 
              using Ionic and Angular. It is being hosted on Firebase and I am using 
              GitHub to push up updates.
            </p>
            <img class="stack-img" src="../../../assets/images/wd-stack.png" />
          </div>
        </ion-col>

        <ion-row class="img-padding " size="4" >
          <div >
            <img class="hide-bubble bubble top-bubble" src="../../../assets/images/wd-xdPorfolio.jpg" />
          </div>
        </ion-row>
        <ion-col class="right-content" size="4"></ion-col>
      </ion-row>

      <ion-row class="about-row ">
        <ion-col class="left-content" size="4"></ion-col>
        <ion-row class="img-padding" size="4">
          <div >
            <img class="hide-bubble bubble bottom-bubble" src="../../../assets/images/KC screen.jpg" />
          </div>
        </ion-row>

        <ion-col class="right-content" size="4">
          <div>
            <h5>2021 - Kingdom Club</h5>
            <span class="kc side-bubble"></span>
            <p>
              The first half of the 2021 was spent on working on my passion
              project using Angular and Ionic. It's a social networking chat
              application that uses a few NPM plugins, Firebase Cloud Storage 
              and the RXJs library.
            </p>
            <img class="stack-img" src="../../../assets/images/kc-stack.png" />
          </div>
        </ion-col>
      </ion-row>
     
      <ion-row class="about-row">
        <ion-col class="left-content" size="4">          
          <div>
            <h5>2017 - 2020 Full Stack Developer</h5>
            <span class="fs side-bubble"></span>
            <p>
              Shortly after graduating, I spent 3 years working on an ASP.NET 
              multi-tiered web application designing fixes, fixing bugs and 
              implementing features from the Front-end to the Back-end using 
              C#, VB.NET, T-SQL and SQL Server. There, I managed and 
              troubleshooted web servers, worked with REST APIs, tested and 
              reviewed codes.
            </p>
            <img
              class="stack-img"
              src="../../../assets/images/fs-stack1.png"
            />
            <img
              class="stack-img"
              src="../../../assets/images/fs-stack2.png"
            />
          </div>
        </ion-col>

        <ion-row class="img-padding " size="4">
          <div >
            <img class="hide-bubble bubble top-bubble" src="../../../assets/images/fs-hfx.jpg" />
          </div>
        </ion-row>
        <ion-col class="right-content" size="4"> </ion-col>
      </ion-row>

      <ion-row class="about-row ">
        <ion-col class="left-content" size="4"> </ion-col>
        <ion-row class="img-padding" size="4">
          <div >
            <img class="hide-bubble bubble bottom-bubble" src="../../../assets/images/cc-grad.jpg" />
          </div>
        </ion-row>

        <ion-col class="right-content" size="4">          
          <div>
            <h5>2015 - 2017 Computer Programming Diploma</h5>
            <span class="cp side-bubble"></span>
            <p>
              While I officially started to learn how to code at school, I was 
              still working on Angular and Ionic on my spare time. Confederation 
              College exposed me to Linux, Bash, Git, JQuery, SQL and a bunch 
              other stacks on top of the ones listed below.
            </p>
            <img class="stack-img" src="../../../assets/images/cc-stack.png" />
          </div>        
        </ion-col>
      </ion-row>

      <ion-row class="about-row">
        <ion-col class="left-content" size="4">          
          <div>
            <h5>2014 - 2015 Intel Excel</h5>
            <span class="ie side-bubble"></span>
            <p>Intel Excel was a non-for-profit with a social utility tool for 
              minority language speakers and newcomers. My partner and I applied 
              for provincial grants however, funding was awarded to some other 
              noble causes. I ended designing an app and hiring a freelance developer 
              to create a partial prototype.
            </p>
            <img
              class="stack-img stack-design"
              src="../../../assets/images/ie-design.png"
            />
          </div>
        </ion-col>

        <ion-row class="img-padding " size="4">
          <div >
            <img class="hide-bubble bubble top-bubble" src="../../../assets/images/IE screen.jpg" />
          </div>
        </ion-row>
        <ion-col class="right-content" size="4"></ion-col>
      </ion-row>

      <ion-row class="about-row">
        <ion-col class="left-content" size="4"></ion-col>
        <ion-row class="img-padding " size="4">
          <div >
            <img
              class="hide-bubble bubble bottom-bubble"
              
              src="../../../assets/images/ae-mock.jpg"
            />
          </div>
        </ion-row>

        <ion-col class="right-content" size="4"> 
          <div>
            <h5>2014 - 2015 Afro Excel</h5>
            <span class="ae side-bubble"></span>
            <p>This project went from one main blogging WordPress website to a 
              network of sites for student groups to highlight their developments. 
              I recruited and worked with a team of volunteers, student bloggers 
              and group executives across different schools.
            </p>
            <img 
            class="stack-img"
            src="../../../assets/images/ae-stack.png" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="about-row">
        <ion-col class="left-content" size="4">          
          <div>
            <h5>2012 - 2014 Afro United</h5>
            <span class="au side-bubble"></span>
            <p>In early 2000's, Toronto was affected by a series of youth gun 
              violence which eventually inspired me to create a website that would 
              highlight young role-models around me. I started with popular 
              CMS and in the process, I began to learn Angular JS and Ionic v1. 
            </p>
            <img
            class="stack-img"
            src="../../../assets/images/au-stack2.png"
            />
            <img
            class="stack-img"
            src="../../../assets/images/au-stack1.png"
            />
          </div>
        </ion-col>

        <ion-row class="img-padding " size="4">
          <div >
            <img
              class="hide-bubble bubble top-bubble"
              src="../../../assets/images/au-rolemodels.jpg"
            />
          </div>
        </ion-row>
        <ion-col class="right-content" size="4"></ion-col>
      </ion-row>

      <ion-row class="about-row">
        <ion-col class="left-content" size="4"></ion-col>
        <ion-row class="img-padding " size="4">
          <div >
            <img
              class="hide-bubble bubble bottom-bubble"
              src="../../../assets/images/sd-sbjfeature.jpg"
            />
          </div>
        </ion-row>

        <ion-col class="right-content" size="4"> 
          <div>
            <h5>Starting to Develop</h5>
            <span class="sd side-bubble"></span>
            <p>
              As a creative left-handed youth, I learned early that I had a
              talent for drawing but it was not until later when I learned Corel
              Draw, CS6 Illustrator and Photoshop on my own did I really fall in
              love with Graphic Designs. It was around that time I started to
              experiment with Dreamweaver and HTML.
            </p>
            <img class="stack-img" src="../../../assets/images/sd-stack.png" />
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="about-row">
        <ion-col class="left-content"  size="4" >
           <div>
            <h5>Humble Beginnings</h5>
            <span class="hb side-bubble"></span>
            <p>
              A young Canadian kid is born in Montreal of Haitian parents, grew
              up in Toronto as minority French language speaker, kept on
              breaking his parent's computer. This bilingual aspiring tech
              was bound to go places!
            </p>
          </div>
        </ion-col>
      
        <ion-row class="img-padding " size="4" >
          <div >
            <img class="hide-bubble bubble top-bubble" src="../../../assets/images/hb-flag.jpg" />
          </div>
        </ion-row>
        <ion-col class="right-content" size="4"></ion-col>
      </ion-row>

    </span>
  </ion-grid>
</ion-content>
