<ion-content>
  <ion-grid>

 <span class="here"> 

 
    <ion-row class="about-row">
        <ion-col class="left-content"  size="4">
          <div>
            <h5>2021 - Kingdom Club  </h5>
            <p>
                The first half of the 2021 was spent on working on my passion project using Angular and Ionic. 
                It's a social networking chat application that has enabled me to showcase some plugin implementation, 
                Firebase Cloud Storage and the RXjs library. I really enjoy working with Angular and hope to master it
                in the near future.       
            </p>
            <img class="bubble-img" src="../../../assets/images/kc-stack.png" />
        </div>
    </ion-col>
    
    
    <ion-row class="ie-img" size="4">
        <div class="red">
            <img class="ie-mock" src="../../../assets/images/kc-mtl.jpg" />            
            </div>
          </ion-row>
       
  
          <ion-col  class="right-content" size="4">        
        </ion-col>
      </ion-row>
      
  
  
  
  
  
  
      <ion-row class="about-row">
          <ion-col class="left-content" size="4">          
          </ion-col>
    
          
            <ion-row class="ie-img" size="4">
              <div class="red">
                <img class="ie-mock" src="../../../assets/images/fs-hfx.jpg" />
              </div>
            </ion-row>
         
    
            <ion-col class="right-content" size="4"  >
            <div>            
              <h5>2017 - 2020 Full Stack Developer</h5>
              <p>
                Shortly after graduating, I started working for a U.S. based software company that produce the tabulation of IRS forms for 
                major U.S. HR consultan firms. I spent 3 yers working on ASP.NET Core Web API multi-tiered web application desiging fixes, fixing  
                bugs and implementing features from the Front end to the Backend using C#, VB.NET, T-SQL and SQL Server. There, I had to manage and 
                troubleshoot web servers, work with REST APIs, test and review codes. 
              </p>
              <img class="bubble-img" src="../../../assets/images/fs-stack1.png" />
              <img class="bubble-img" src="../../../assets/images/fs-stack2.png" />
            </div>
          </ion-col>
        </ion-row>
  
  
  
  
  
  
  
  
        <ion-row class="about-row">
          <ion-col class="left-content" size="4">
            <div>
              <h5>2015 - 2017 Computer Programming Diploma</h5>
              <p>
                I'm really greafult to have attended Confederation College in Thunder Bay, Ontario. The class sizes, 
                the quality of staff and overall great experince made it wort it. While I was still working on Angular 
                and Ionic during my spare time, the college exposed Linux, Bash, Git, JQuery, Workbench and a bunch 
                other stack on top of the ones listed below. 
              </p>
              <img class="bubble-img" src="../../../assets/images/cc-stack.png" />              
            </div>
          </ion-col>
    
          
            <ion-row class="ie-img" size="4">
              <div class="red">
                <img class="ie-mock" src="../../../assets/images/cc-grad.jpg" />
              </div>
            </ion-row>
         
    
            <ion-col  class="right-content" size="4">          
          </ion-col>
        </ion-row>
  
  
  
  
  
  
  
        <ion-row class="about-row">
          <ion-col class="left-content" size="4">          
          </ion-col>
    
          
            <ion-row class="ie-img" size="4">
              <div class="red">
                <img class="ie-mock" src="../../../assets/images/IE screen.jpg" />
              </div>
            </ion-row>
         
    
            <ion-col  class="right-content" size="4"  >
            <div>
              <h5>2014 - 2015 Intel Excel</h5>
              <p>
                Blurb goes here
              </p>
              <img class="bubble-img" src="../../../assets/images/ie-design.png" />
            </div>
          </ion-col>
        </ion-row>






    <ion-row class="about-row">
      <ion-col class="left-content"  size="4">
        <div>
          <h5>2014 - 2015 Afro Excel</h5>
          <p>
            Blurb goes here    
          </p>
          <img src="../../../assets/images/ae-stack.png" />
        </div>
      </ion-col>

      
        <ion-row class="ie-img" size="4">
          <div class="red">
            <img class="bubble-img" class="ie-mock" src="../../../assets/images/ae-mock.jpg" />
          </div>
        </ion-row>
     

        <ion-col  class="right-content" size="4">        
      </ion-col>
    </ion-row>
    






    <ion-row class="about-row">
        <ion-col class="left-content" size="4">          
        </ion-col>
  
        
          <ion-row class="ie-img" size="4">
            <div class="red">
                <img class="ie-mock" src="../../../assets/images/au-rolemodels.jpg" />
            </div>
          </ion-row>
       
  
          <ion-col class="right-content" size="4"  >
          <div>            
            <h5>2012 - 2014 Afro United</h5>
            <p>
              Blurb goes here
            </p>
            <img class="bubble-img" src="../../../assets/images/au-stack1.png" />
            <img class="bubble-img" src="../../../assets/images/au-stack2.png" />
          </div>
        </ion-col>
      </ion-row>








      <ion-row class="about-row">
        <ion-col class="left-content" size="4">
          <div>
            <h5>Starting to Develop</h5>
            <p>
                As a creative left-handed youth, I learned early that I had a talent for drwaing  
                but it wasn't until later when I learned Corel Draw, CS6 Illustrator and Photoshop on 
                my own did I really fall in love with Graphic Designs. It was around that time I started 
                to experiment with Dreamweaver and HTML.
            </p>
            <img class="bubble-img" src="../../../assets/images/sd-stack.png" />
          </div>
        </ion-col>
  
        
          <ion-row class="ie-img" size="4">
            <div class="red">
              <img class="ie-mock" src="../../../assets/images/sd-sbjfeature.jpg" />
            </div>
          </ion-row>
       
  
          <ion-col  class="right-content" size="4">          
        </ion-col>
      </ion-row>







      <ion-row class="about-row">
        <ion-col class="left-content" size="4">          
        </ion-col>
  
        
          <ion-row class="ie-img" size="4">
            <div class="red">
              <img class="ie-mock" src="../../../assets/images/hb-flag.jpg">
            </div>
          </ion-row>
       
  
          <ion-col  class="right-content" size="4"  >
          <div>
            <h5>Humble Beginnings</h5>
            <p>
              A young Canadian kid is born in Montreal of Hatian parents, grew up in Toronto 
              as minority French language speaker, kept on breaking his parent's computer. 
              This bilingual aspiring techy nerd was bound to go places!
            </p>
          </div>
        </ion-col>
      </ion-row>

    </span>

  </ion-grid>
</ion-content>
