h2,
h5,
p {
    color: #1d1d1d;
}

//Mobile
@media (max-width: 768px) {
    ion-grid {
        padding: 1rem;
    }
 
    //Timineline bar
    .about-row {
        background-image: linear-gradient(#000, #000);
        background-size: 5px 100%;
        background-repeat: no-repeat;        
        background-position: left left;
        display: inline-table;
    }   
    
    .hide-bubble {
        display: none !important;
    }
    
    .bottom-bubble{
        display: inline-block;
        position: absolute;
        transform: translate(-243px, 104px);
    }
    
    .top-bubble { 
        display: inline-block;
        position: absolute;
        transform: translate(-243px, -183px);
    }
  
    span {
        size: 100%;
        width: 150px;
        height: 150px;        
    }

    .side-bubble{
        content: "";
        position: absolute;
        border-radius: 50px;
        background-size: cover;
        border: solid 5px black;
        width: 80px;
        height: 80px;
        top: 131px;
    }

    .hb {      
        background: url("../../../assets/images/hb-flag.jpg");
        background-size: cover;
    }

    .sd {   
        background: url("../../../assets/images/sd-sbjfeature.jpg");        
        background-size: cover;
    }
    .au {
        background: url("../../../assets/images/au-rolemodels.jpg");
        background-size: cover;
    }
    
    .ae {
        background: url("../../../assets/images/ae-mock.jpg");
        background-size: cover;
    }
    .ie {
        background: url("../../../assets/images/IE screen.jpg");
        background-size: cover;
    }
    .cp {
        background: url("../../../assets/images/cc-grad.jpg");
        background-size: cover;
    }
    .fs {
        background: url("../../../assets/images/fs-hfx.jpg");
        background-size: cover;
    }
    .kc {
        background: url("../../../assets/images/kc-mtl.jpg");
        background-size: cover;
    }
    span::after {
        content: "";       
        display: inline-grid;
    }

    .bubble {
        background-color: green;
        border: 1px solid green;

        height: 100px;
        width: 100px;
        border-radius: 200px;
        border: 5px solid black;     
        object-fit: cover;        
    }

    .right-content {  
        text-align: left;
    }

    h5 {
    position: relative;    
    padding: 5%;
    }

    p { 
        position: relative;
        padding-left: 100px;
    }

    .img-padding {
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
    }

    .stack-img {
        width: 80vw;
        padding-left: 20px;
        max-width: 258px;
        display: table-column;
        transform-origin: left;
    }

    .stack-design {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
    }
  }


//Desktop
@media (min-width: 768px) {    
    ion-grid {
        padding: 4rem;
    }

    .img-padding {
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .bubble {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        border: 5px solid black;     
        object-fit: cover;
        
    }
    .about-row {        
        justify-content: center;
        padding-bottom: 10vh;
        background-image: linear-gradient(#000, #000);
        background-size: 5px 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }    

    .left-content {        
        text-align: right;
    }
    
    .right-content {
        text-align: left;
    }
    .stack-img {
        max-height: 45px;
        display: table-column;
    }
}
